.transfer-dot-parent {
	position: relative;
}

.transfer-dot {
	--size: 3rem;
	width: var(--size);
	height: var(--size);
	line-height: var(--size);
	border-radius: 50%;
	text-align: center;
	background-color: dodgerblue;
	color: white;

	/* positioning */
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.moving {
	animation-name: translate-a-to-b;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.stationary-animating {
	animation-name: animate-on-spot;
	animation-duration: 1s;
	animation-timing-function: linear;
}

@keyframes translate-a-to-b {
	0% {
		transform: translate(-50%, -50%);
	}
	100% {
		transform: translate(calc(var(--dx) - 50%), calc(var(--dy) - 50%));
	}
}

@keyframes animate-on-spot {
	50% {
		transform: translate(-50%, -50%) scale(1.25);
	}
}
