.memory-address {
	font-size: smaller;
	color: #767676;
}

.mover {
	animation-name: mover-animation;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes mover-animation {
	0% {
		transform: translateX(0) translateY(0);
	}
	100% {
		transform: translateX(var(--dx)) translateY(var(--dy));
	}
}
